<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}"></h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post" action="/register">

            <div class="form-group">
                <p class="error" th:text="${error}"></p>
                <label>Name
                    <input th:field="${user.name}" class="form-control">
                </label>
                <p class="error" th:errors="${user.name}"></p>
            </div>

            <div class="form-group">
                <label>Email
                    <input th:field="${user.email}" class="form-control">
                </label>
                <p class="error" th:errors="${user.email}"></p>
            </div>

            <div class="form-group">
                <label>UserName
                    <input th:field="${user.username}" class="form-control">
                </label>
                <p class="error" th:errors="${user.username}"></p>
            </div>

            <div class="form-group">
                <label>Password
                    <input th:field="${user.password}" class="form-control">
                </label>
                <p class="error" th:errors="${user.password}"></p>
            </div>

            <div class="form-group">
                <input th:hidden="userType">
                <input th:hidden="user.enabled">
            </div>

            <div class="form-group">
                <input type="submit" name="Create Event" class="btn btn-success">
            </div>
        </form>
    </body>
</html>